<!-- <div ui-view="head"></div>
<h1 class="text-center">This content is in main.html</h1>
<div ui-view="nav"></div> -->
<link href="assets/css/home.css" rel="stylesheet">





        <!-- Header -->
        <md-toolbar>

          <div class="md-toolbar-tools">
            <i class="fa fa-leaf" aria-hidden="true"></i>

            <h2 md-truncate flex>Celebino</h2>

            <md-button >
              <md-icon md-svg-src="assets/img/exit.svg"></md-icon>
              Sair
            </md-button>
          </div>

        </md-toolbar>



        <div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Home</a></li>
            <li class="section"><a href="#">Another link</a></li>
            <li class="section"><a href="#">Next link</a></li>
            <li class="section"><a href="#">Last link</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- content of page -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
