<div class="container" ng-controller="chartsController">

    <div class="row">
        <div class="page-header">
            <h1>Garden status</h1>
        </div>
    </div>

    <div class="row">

        <form name="formPesquisa">
            <!-- Pesquisar aluno pelo nome. O parâmetro nome é passado a função todas as vezes que o usuário digita algo -->
            <input type="text" ng-model="id" ng-keyup="getByGardenId(id)" placeholder="id do garden">

            <!-- Limpar todos os campos do formulário e listas das páginas -->
            <button class="btn btn-primary" ng-click="limparFormulario()">
                Limpar
            </button>
        </form>
    </div>



    <!-- Exibir lista de Alunos -->
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Soil Humidity</th>
                    <th>Sun Light</th>
                    <th>Air Humidity</th>
                    <th>Air Temperature</th>
                    <th>Time</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gardenStatus in gardenStatuss">
                    <td>{{ gardenStatus.id }}</td>
                    <td>{{ gardenStatus.soilHumidity}}</td>
                    <td>{{ gardenStatus.sunLight}}</td>
                    <td>{{ gardenStatus.airHumidity}}</td>
                    <td>{{ gardenStatus.airTemperature}}</td>
                    <td>{{ gardenStatus.time}}</td>


                </tr>
            </tbody>
        </table>
    </div>

</div>
